header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline:2rem ;
  
    width: 100%;
    height: auto;
    background-color: rgba(86, 188, 192, 0.616);
  }
  
  header a {
    text-decoration: none;
  }
  
  header  button {
    background-color: transparent;
    border: none;
  
    cursor: pointer;
  }
  
  .icon-menu {
    width: 45px;
    height: 45px;
  }
  
  .logo-header {
    width: 230px;
    height: 130px;
  }